@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-primary: "Space Mono";
  --color-primary: #e9ecef;
  --color-primary-dark: #343a40;

  --color-secondary: #dee2e6;
  --color-secondary-dark: #495057;

  --color-muted: #ced4da;
  --color-muted-dark: #6c757d;

  --color-light: #f8f9fa;
  --color-dark: #212529;
}

body {
  height: 100vh;
  font-family: var(--font-primary);
}

label {
  @apply text-dark font-semibold dark:text-light text-base;
}

input[type="range"] {
  @apply cursor-pointer h-2 appearance-none rounded-xl bg-muted dark:bg-muted-dark;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply w-4 h-4 rounded-full bg-dark cursor-pointer;
}

input[type="range"]::-moz-range-thumb {
  @apply w-4 h-4 rounded-full bg-dark cursor-pointer;
}

.dark input[type="range"]::-webkit-slider-thumb {
  @apply bg-light;
}

.dark input[type="range"]::-moz-range-thumb {
  @apply bg-light;
}

.btn {
  @apply px-4 py-2 bg-primary-dark dark:bg-primary text-primary dark:text-primary-dark 
        hover:bg-primary-dark/90
        dark:hover:bg-primary/90
        hover:cursor-pointer
        rounded-lg;
}

select {
  @apply block w-full border rounded-md text-base
  border-secondary dark:border-secondary-dark  
        bg-muted dark:bg-muted-dark
        text-dark dark:text-light;
}
